<%= simple_form_for(@hypothesis) do |f| %>
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>
  <%= f.input :starts_at, as: :date %>
  <%= f.input :ends_at, as: :date %>

  <%= f.fields_for :metrics do |metric|%>
    <%= metric.input :description %>
  <% end %>

  <%= f.input :goal %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
