<%= text_field_tag :description, metric.description, class: 'input-block-level' %>
  <div class="row-fluid">
    <div class="span7">
      <div class='editor' id="<%= dom_id(metric) %>"><%= metric.code %></div>
    </div>
    <div class="span5">
      <textarea class="input-block-level" rows='5' readonly>
=> <%= metric.value %>
=> <%= metric.results.inspect %>
      </textarea>
    </div>
  </div>
<script>
    var editor = ace.edit('<%= dom_id(metric) %>');
    editor.setTheme('ace/theme/monokai');
    editor.getSession().setMode('ace/mode/ruby');
</script>
