<%= simple_form_for(@metric) do |f| %>
  <%= f.input :description, placeholder: 'Description', label: false, input_html: { class: 'input-block-level' } %>
  <%= f.input :code, as: :hidden %>
  <div class="row-fluid">
    <div class="span7">
      <div class='editor' id="editor"><%= @metric.code %></div>
    </div>
    <div class="span5">
      <textarea class="input-block-level" rows='5' readonly>
=> <%= @metric.value %>
=> <%= @metric.debug %>
      </textarea>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit %>
    <%= link_to 'Back', hypotheses_path %>
  </div>
<% end %>
